*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #0f0c29;
    color: white;
}
.head{
    font-size: 30px;
    text-align: center;
    font-family: 'Poppins';
   
}
.image{
    -webkit-box-shadow: 0px 0px 20px 3px #ebf7ff;
    margin-top: 30px;
}
.form{
    margin-top: 10px;
   width: 400px;
}

.image2{
      /* max-width: 300px; */
      /* margin-top: 10px; */
}
.box{
        /* height: 100vh; */
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
      
}
form label,
form input {
  display: block;
}
form {
    text-align: left;
    display: flex;
    flex-direction: column;
    font-family: 'Oxygen';
  }
  form input,
  form textarea {
    background: transparent;
    border: 0;
    border-bottom: 2px solid white;
    padding: 5px;
    width: 100%;
    color:white;
    outline: none;
    font-size: 17px;
    font-family: "Montserrat";
  }
  form label {
    margin: 15px 0;
    font-family: 'Oxygen';
    font-weight: 700;
  }
  form input[type="submit"] {
    display: block;
    width: auto;
    margin: 10px auto;
    padding: 5px 10px;
    border: 3px solid white;
    border-radius: 4px;
    color:black;
    cursor: pointer;
    font-size: 20px;
    background-color:white;

  }
  @media only screen and (max-width: 639px){
    .box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .image2{
        margin-top: 10px;
        overflow: hidden;
        height: 190px;
        
    }
    .form{
        text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Oxygen';
    width: 280px;
    }
    .head{
        font-size: 20px;
        text-align: center;
        font-family: 'Poppins';
        margin-top: 13px;
       
    }
    .image{
        -webkit-box-shadow: 0px 0px 20px 3px #ebf7ff;
    }
  }