.lastsection{
    margin: 30px;
    padding: 30px;
}
.copy{
    text-align: center;
    color: white;
}
@media screen and (max-width: 799px){
    .last56{
        width: 106%;
        background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    }
    .lastsection{
        background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
        margin: 0;
    }
}